<div class="container-fluid  vh-100">
  <div class="row justify-content-center h-100 align-items-center">
    <div class="col-9 col-lg-3 col-md-4 col-sm-4 bg-white cover">
      <div class="row py-2"></div>
        <div class="row justify-content-center">
          <a class="sign" routerLink="/SignIn"> <div class=" px-4 py-2">Sign In</div ></a>
          <a class="in" routerLink="/SignUp"> <div class="px-4 border-left py-2 ">Sign Up</div></a>
        </div>
        <form>
          <input type="text" placeholder="Email Address" class="w-100 py-1 my-2" />
          <input type="text" placeholder="Password" class="w-100 py-1 my-2 inline" />
          <input type="checkbox" ><small>Keep me signed in</small>
         <a routerLink="/homepage"> <button class="w-100 badge-pill py-1 my-2">Sign In</button></a>
          <div class="row justify-content-center py-2">
            <small class="w-60">Or Sign-In with Social Media</small>
          </div>
        </form>
            <div class="row justify-content-center py-2">
              <i class="fab fa-facebook px-3"></i><i class="fab fa-google-plus px-3"></i>
            </div>
          <div class="row justify-content-center by">
      </div>
    </div>
  </div>
</div>
