<div class="footer pt-5">
  <div class="top">
    <div class="container">
      <div class="row py-5" >
        <div class="col-12 col-md-3">
            <div class="white">Deliver</div>
        </div>
        <div class="col-12 col-md-3">
            <div class="white">About Box-it <br />How Box-it Works<br /> Safety<br /> Careers<br /> Countries<br /> FAQs</div>
        </div>
        <div class="col-12 col-md-3">
            <div class="white">Be a Dispatcher<br /> Sign up to be a Dispatcher<br /> Requirements<br /> Driver App</div>
        </div>
        <div class="col-12 col-md-3">
            <img class="img-fluid" src="assets/images/google-play-badge-en.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row basetext justify-content-end">
        <div class="col-auto"><p>Accessibility</p></div>
        <div class="col-auto"><p>Terms</p></div>
        <div class="col-auto"><p>© 2018 Boxit</p></div>
      </div>
    </div>
  </div>
</div>
