<app-header></app-header>
<app-white-navbar></app-white-navbar>
<div class="container-fluid place">
  <div class="row w-50 logo">
    <div class="col-12 col-md-4">
      <img class="shadow" src="../../assets/images/the_place.png"/>
    </div>
    <div class="col-12 col-md-8">
      <h3>The Place Eatery</h3>
      <p><small>African, Nigerian, International</small></p>
    </div>
  </div>
</div>
<app-dish-categories></app-dish-categories>
<app-food-cart></app-food-cart>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
