<div class="container-fluid mt-5">
  <div class="container white">
    <div class="text-center py-5">
    <h3>How It Works</h3>
    </div>
    <div class="row text-center">
      <div class="col-12 col-md-4" *ngFor="let select of selection">
        <i class="fas fa-circle"></i>
        <h3>{{select.text}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi
         convallis finibus. Nulla facilisi. Donec urna orci,
          placerat vestibulum sapien eget, laoreet egestas elit.</p>
      </div>

    </div>
  </div>
</div>
