<app-header></app-header>
<app-white-navbar></app-white-navbar>

<div class="container-fluid food">
  <div class="container">
    <div class="text-center deliver  mx-auto text">
    Food Delivery Directly<br /> To Your Doorstep
    </div>
      <form class="form-group pt-5">
      <div class="input-group">
        <select name="city" class="badge-pill form-control">
        <option value="" disabled selected>Select City</option>
        </select>
        <select name="area" class="badge-pill form-control" placeholder="Select Area">
         <option value="" disabled selected>Select Area</option>
        </select>
        <button class="request ">Find Restaurants</button>
      </div>
    </form>
  </div>
</div>

<div class="container ">
  <div class="row pt-5">
    <div class="col-12 col-md-4">
    <img src="../../assets/images/store.png" class="img-fluid" align="left"/>
    <p><small>Over 500<br /> Restaurants</small></p>
    </div>
    <div class="col-12 col-md-4">
    <img src="../../assets/images/take-away.png" class="img-fluid" align="left"/>
    <p><small>Over 2000 <br />Deliveries Made</small></p>
    </div>
    <div class="col-12 col-md-4">
    <img src="../../assets/images/group.png" class="img-fluid" align="left"/>
    <p><small>Over 500<br /> Registered Customers</small></p>
    </div>
  </div>
</div>

<app-food-jollof></app-food-jollof>
<app-how-it-works></app-how-it-works>
<app-food-jollof></app-food-jollof>
<app-food-cart></app-food-cart>
<app-user-reviews></app-user-reviews>
<app-footer></app-footer>
