.spect
{
  height: 98px;
  width:205px;
}
.bukka{
  height: 78px;
  width:107px;
}
.mega{
  height: 82px;
  width:111px;
}
.fuud{
  height: 89px;
  width:89px;
}
.place{
  height: 78px;
  width:159px;
}
