<div class="container">
  <div class="row">
    <div class="m-auto py-4">  As Trusted By</div>
  </div>
  <div class="row">
  <div class="col-12 col-md">
    <img class="img-fluid spect" src="assets/images/spectranet-logo.png">
  </div>
  <div class="col-12 col-md">
      <img class="img-fluid bukka" src="assets/images/Bukka-Hut-Logo.png">
  </div>
  <div class="col-12 col-md">
      <img class="img-fluid mega" src="assets/images/Mega-Chicken-Logo-3D-Low-Res.png">
  </div>
  <div class="col-12 col-md">
      <img class="img-fluid fuud" src="assets/images/nhrh9dpsslom5ssyb4xv.png">
  </div>
  <div class="col-12 col-md">
      <img class="img-fluid place" src="assets/images/header_the-place-lagos.png">
  </div>
</div>
