<div class="container my-5">
   <div class="row  py-2" >
      <div class="col text-center">
        <h3>Subscribe to Newsletter</h3><br />
        <p>Get First hand Info on Promos and Bonuses. We keep your account details safe with us</p>
      </div>
    </div>
    <div class="row pb-5" >
      <div class="col-12">
        <form class="form-group">
          <div class="input-group">
            <input class="badge-pill form-control" type="email" placeholder="Enter Your Email Address" />
            <button class="request ">Request BoxIt</button>
          </div>
        </form>
      </div>
    </div>
</div>
