input
{
  border: none;
  border-bottom: 0.8px solid;
  outline: none;
}
.container-fluid,.badge-pill
{
  background-color: #5C0426;
}
.badge-pill{
  color:#FFFFFF;
}
.sign,.sign:hover{
  font-weight:bold;
  color: #5C0426;
  text-decoration: none;
}
i{
  font-size:35px;
  color: #5C0426
}
.cover
{
  border-radius: 1%;

}
.by{
  background-color: #5C0426;
  color:white;
  font-size: 12.5px;
}
.in,.in:hover{
  color:#AAAAAA;
  text-decoration: none;
}
