<div class="container-fluid  vh-100">
  <div class="row justify-content-center h-100 align-items-center">
    <div class="col-9 col-lg-3 col-md-4 col-sm-4 bg-white cover">
      <div class="row py-2"></div>
        <div class="row justify-content-center">
          <a routerLink="/SignIn" class="in"> <div class=" px-4 py-2">Sign In</div ></a>
          <a routerLink="/SignUp" class="sign"> <div class="px-4 border-left py-2">Sign Up</div></a>
        </div>
        <form class="form-group">
          <input type="text" placeholder="Fullname" class="w-100 py-1 my-2" />
          <input type="text" placeholder="Email Address" class="w-100 py-1 my-2" />
          <input type="text" placeholder="Phone Number" class="w-100 py-1 my-2" />
          <input type="text" placeholder="Password" class="w-100 py-1 my-2 " />
          <a routerLink="/homepage"><button class="w-100 badge-pill py-1 my-2">Sign Up</button></a>
          <div class="row justify-content-center py-2">
          <small class="w-60">Or Sign-Up with Social Media</small>
          </div>
        </form>
          <div class="row justify-content-center py-2">
          <i class="fab fa-facebook px-3"></i><i class="fab fa-google-plus px-3"></i>
          </div>
         <div class="row justify-content-center by">
         <div class="col px-0">
          <small>By Signing Up, you agree to Boxit's Terms of Use and acknowledge
            you have read the Privacy Policy.</small>
          </div>
      </div>
    </div>
  </div>
</div>
