<div class="cover ">
  <div class="container-fluid my-5">
    <div class="container ">
      <div class="row justify-content-end">
        <div class="col-12 col-md-4">
          <img class="img-fluid phone" src="assets/images/01.png"/>
        </div>
        <div class="col-12 col-md-4 pt-2 mt-5">
          <p class="chat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus.
          Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>
          <img class="img-fluid pt-5" src="assets/images/google-play-badge-en.png"/>
        </div>
        <div class="col-12 col-md-4 ">
          <img class="img-fluid burger pb-3" src="assets/images/580b57fcd9996e24bc43c1a8.png" />
        </div>
      </div>
    </div>
  </div>
</div>
