 <app-header></app-header>
 <app-white-navbar></app-white-navbar>
<div class="container-fluid find-car">
  <div class="container pt-5">
    <div class="text-center mx-auto pt-5 mt-2">
        <h3 class="white">Find Nearby Drivers For Your Pickup<br /> and Delivery Needs</h3>
        <h4>Nigeria’s No 1 On-demand <br />Delivery and Pickup Platform</h4>
      <div class="row pt-5" >
        <div class="col-12 ">
          <form class="form-group">
            <div class="input-group">
              <input class="badge-pill form-control" type="email" placeholder="Pickup Address" />
              <input class="badge-pill form-control" type="email" placeholder="Delivery Address" />
              <button class="request ">Request BoxIt</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="../../assets/images/driver.png" class="img-fluid" align="left">
      <p class="pl-5 ml-5"><small>Over 300 <br />Registered<br /> Dispatchers</small></p>
      </div>
      <div class="col-12 col-md-4">
      <img src="../../assets/images/place.png" class="img-fluid" align="left">
        <p class="pl-5 ml-5"><small>Over 3000 <br />Deliveries Made</small></p>
      </div>
      <div class="col-12 col-md-4">
      <img src="../../assets/images/smartphone.png" class="img-fluid" align="left">
        <p class="pl-5 ml-5"><small>Over 100 <br /> Daily Request</small></p>
    </div>
  </div>
</div>


<div class="container py-5">
    <div class="row text-center">
      <div class="col-12">
        <h3>On demand Pickup and Delivery Services <br /> With Realtime Update</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl
        nec mi convallis<br /> finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>
      </div>
    </div>
    <div class="row py-3 ">
      <div class=" col-12 col-md-4">
        <h5>Enter Pickup and Delivery Address.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur<br /> adipiscing elit.
        Vivamus egestas feugiat<br />felis. Mauris lobortis nisl nec mi convallis</p>
      </div>
      <div class="col-12 col-md-4">
        <h5>Select Nearest And Preferred Dispatcher</h5>
        <p>Lorem ipsum dolor sit amet, consectetur <br /> adipiscing elit.
        Vivamus egestas feugiat<br /> felis. Mauris lobortis nisl nec mi convallis </p>
      </div>
      <div class="col-12 col-md-4">
        <h5>Get It Picked Up and Delivered Quick</h5>
      <p>Lorem ipsum dolor sit amet, consectetur <br /> adipiscing elit.
       Vivamus egestas feugiat<br /> felis. Mauris lobortis nisl nec mi convallis </p>
      </div>
    </div>
</div>

<div class="container-fluid download-app mb-5">
  <div class="container">
    <div class="row justify-content-end pt-5">
      <div class="col-auto">
        <h2 class="white">Download Our App </h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing<br /> elit.
        Vivamus egestas feugiat felis. Mauris lobortis nisl<br />
        nec mi convallis finibus. Nulla facilisi. Donec urna<br />
        orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>
        <img class="img-fluid pt-4" src="../../assets/images/google-play-badge-en.png"/>
      </div>
    </div>
  </div>
</div>

<app-register-dispatcher></app-register-dispatcher>

<app-trusted-brands></app-trusted-brands>

<app-user-reviews></app-user-reviews>

<app-footer></app-footer>
