<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 >No matter the size</h2>
      <p >We have dispatchers across the country with different types of vehicles ranging
      from Motobikes, Salon Cars and vans.</p>
    </div>
  </div>
  <div class="row  mb-4 pb-2">
    <div class="col-4">
      <img class="img-fluid " src="assets/images/tgb-express-1.png" />
    </div>
    <div class="col-4">
      <img class="img-fluid" src="assets/images/9266-2019-toyota-corolla.png" />
    </div>
    <div class="col-4">
      <img class="img-fluid" src="assets/images/Ford-Transit-1.png" />
    </div>
  </div>
</div>
