<app-header></app-header>

<div class="cover1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 ">
        <div class="txt pb-3 ">
          <h2 >Pickup, Delivery<br /> and Food Ordering <br />Made Easy</h2>
          <small>Lorem ipsum dolor sit amet, consectetur adipising elit. Vivamus
          egestas <br />feugiat felis. Mauris lobortis nisl nec mi convallis finibus.Nulla facillisi.Donec<br />
          urna orci, placerat vestibulum sapien eget, laoreet egestas elit</small>
          <p class="pt-2 pb-0 mb-1 android">Now Availble on Android</p>
          <img class="img-fluid google pt-0 mt-0" src="assets/images/google-play-badge-en.png"/>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img class="img-fluid box" src="assets/images/1261.png" />
      </div>
    </div>
  </div>
</div>

<app-trusted-brands></app-trusted-brands>

<div class="container">
  <div class="row  py-5">
    <div class="m-auto text-center">
        <h1 >On demand Delivery and <br />Restaurant Services</h1>
        <small >Lorem ipsumdolor amet, consectetur adipising elit.
        Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis<br />
        finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</small>
    </div>
  </div>
  <div class="row ">
    <div class="col-4">
      <img src="assets/images/delivery.png" />
        <h2>Easiest Way to get your<br /> Pickup and Delivery Done</h2>
        <small>Lorem ipsum dolor sit amet, consectetur<br /> adipiscing elit. Vivamus egestas feugiat felis.
        <br /> Mauris lobortis nisl nec mi convallis finibus.<br /> Nulla facilisi. Donec urna orci,placerat vestibulum sapien eget,
        laoreet egestas elit.</small>
    </div>

    <div class="col-4">
      <img src="assets/images/meal.png" />
      <h2>Get Food Delivered to <br />Your Doorstep Quickly</h2>
      <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis.
      Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</small>
    </div>

    <div class="col-4">
      <img src="assets/images/guarantee.png" />
      <h2>Low Cost Rate and <br />Excellent Value</h2>
      <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus egestas feugiat felis.
      Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</small>
    </div>
  </div>
</div>

<app-food-cart></app-food-cart>

<app-transport></app-transport>

<app-register-dispatcher></app-register-dispatcher>

<app-user-reviews></app-user-reviews>

<app-newsletter></app-newsletter>

<app-footer></app-footer>


